@use './colors' as *;

:root{
  --clr-primary-peach: #e78168;
  --clr-primary-black: #1d1c1e;
  --clr-primary-white: #fff;
  --clr-secondary-light-peach: #ffad9b;
  --clr-secondary-dark-grey: #333136;
  --clr-secondary-light-grey: #f1f3f5;
  --fs-h1: 48px;
  --fs-h2: 40px;
  --fs-h3: 20px;
  --fs-p: 16px;

}